Ветка commands

Класс ответственный за работу с путями:
1) должен поддерживать следующие данные: путь, количество, псевдоним
2) вернуть полный путь по данной строке
3) обновить счётчик путей
4) Как должно проходить обновление данных? -- данные загружаются, происходит их изменение, данные сохраняются.

Методы класса PathDispatcher
 - mostSuitablePath
 - loadPathes
 - savePathes
 - findPath - возвращает индекс
 - incCounter
 - addPath
 - isDirectory
 - dirFromFilePath